h1{
    position: fixed;
    right: 35vw;
    color: navy;
    text-shadow: 0 .5px 0 #ccc, 0 1px 0 #ccc, 
    0 1.5px 0 #ccc, 0 2px 0 #ccc, 
    0 2.5px 0 #ccc, 0 3px 0 #ccc, 
    0 3.5px 0 #ccc, 0 4px 0 #ccc, 
    0 4.5px 0 #ccc, 0 5px 0 #ccc, 
    0 5.5px 0 #ccc, 0 6px 0 #ccc, 
    0 10px 30px rgba(0, 0, 0, 0.5); 
    font: arial; 
    font-size: 50px;
}
#container{
    height: 250px;
    width: 250px;
    display: grid;
    position:fixed;
    top: 17vw;
    right: 37vw;
    border: 1px solid black;
    background-color: white;
}
.cell{
    text-align: center;
}
#btn{
    position: fixed;
    right: 45vw;
    top: 20vh;
    background-color:fold;
    color: black;
    border-radius: 50%;
    border: 1px solid blue;
}
#blue{
    position: fixed;
    right: 30vw;
    top:20vh;
    background-color:blue;
    color: white;
    border-radius: 50%;
}
#red{
    position: fixed;
    right: 65vw;
    top:20vh;
    background-color:red;
    color: white;
    border-radius: 50%;
}
.body{
    background-color: orange;
}
