h1{
    position: fixed;
    right: 440px;
}
#container{
    height: 250px;
    width: 250px;
    display: grid;
    position:fixed;
    top: 17vw;
    right: 37vw;
}
.cell{
    text-align: center;
    border-top: 1fr solid gray;
    border-left: 1fr solid gray;
    border-right: 1fr solid gray;
    border-bottom: 1fr solid gray;
    border: 1px solid gray;
}
#btn{
    position: fixed;
    right: 45vw;
    top: 70px;
    background-color: light blue;
    color: white;
}