h1{
    position: fixed;
    right: 440px;
}
#container{
    display: grid;
    position:fixed;
    top: 100px;
    right: 400px;
}
.cell{
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#btn{
    position: fixed;
    right: 470px;
    top: 70px;
}